div.card-list{
    border-radius:8px;
    padding:8px;
    border:1px solid grey;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom:4px;
}

div.card-title{
    flex:6
}

div.card-action{
    flex:1
}
div.card-action a{
    outline: none;
    text-decoration: none;
}
